<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Greeting</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.6/css/bootstrap.min.css}" />
</head>

 <!-- Bootstrap CSS -->
    <th:block th:replace="~{fragments/stylesheets :: bootstrap}"></th:block>

</head>
<body>

    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Best movies')}"></nav>
    </header>

<body>
    <div class="w-100">

        <h2 class="p-1 mt-5 text-center">Best of by Alessio Brusca</h2>
        <div class="card d-flex p-1 mx-auto flex-fill" style="width: 400px;">

            <img src="https://static.vecteezy.com/system/resources/thumbnails/049/329/506/small_2x/golden-3d-number-2025-new-year-2025-isolated-png.png" style="width: auto;" alt="Year 2025">

        </div>
        <div class="card d-flex p-1 mx-auto flex-fill border-black" style="width: 400px;">
                <p class="p-4 text-center card-text mx-auto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem exercitationem reprehenderit dignissimos iure maxime doloribus possimus incidunt aliquid deleniti sapiente explicabo perferendis, dolores officiis, ab sint quia quas dolorum nulla.
                </p>  
        </div>

    </div>

    <!-- Bootsrap bundle with Popper -->
    <script th:src="@{/webjars/bootstrap/5.3.6/js/bootstrap.bundle.min.js}"></script>
</body>

</html>